body{
    background-color: black;
    color: white;
}



footer{
    background-color:#0dc9f0;
}

.card{ background-color: #0dc9f0;
    width:16rem;
 
} 

.fondo{
    background-color: #0dc9f0;
}

.img_nav{
width:3rem;
}

.altoImagenTarjeta{
    height:40%;
}